.gv__enhancer__video,
.gv__enhancer__image {
    width: 100%;
    display: block;
}

.gv__enhancer__mobile.gv__enhancer__container {
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.gv__enhancer__headline {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 36px;
    line-height: 1;
}

.gv__enhancer__standfirst {
    color: #FFF;
    padding-top: 10px;
}

.gv__enhancer__container {
    position: relative;
}

.gv__enhancer__inner {
    color: #FFF;
    position: absolute;
    
    
    top: 0;
    width: 100%;

    background: rgba(0,0,0,.85);
}

.gv__bandh, .gv__bands {
    width: 100%;
    background: rgba(0,0,0,.25);
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gv__bands {
    background: rgba(0,0,0,.75);
}

@media (min-width: 480px) {
      .gv__enhancer__headline {
            font-size: 48px;
      }

      .gv__enhancer__mobile.gv__enhancer__container {
            height: 70vh;
        }

}


@media (min-width: 660px) {
    .gv__enhancer__inner {

        width: 100%;
        background: rgba(0,0,0,.85);
        padding-bottom: 10px;
    }


    .gv__enhancer__headline {
        font-size: 48px;
        line-height: 1;
    }

    .gv__bandh{
        padding: 20px 20px 30px 20px;
    } 

    .gv__bands {
        padding: 0 20px 20px 20px;
    }

}


@media(min-width:1140px){
    .gv__enhancer__inner {

        background: none;
    }

    .gv__enhancer__headline {
        font-size: 52px;
        line-height: 1;
    }

    .gv__banding {
        position: absolute;
        left: calc( 50% - 2500px);
        width: 5000px;
        background: #101112;
        height: 100%;
        top: 0;
        z-index: -1;
    }

    .gv__bandh, .gv__bands {
        padding-left: 180px;
    }

}

@media(min-width:1300px){
    
    .gv__enhancer__inner {
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .gv__enhancer__headline {
        font-size: 58px;
        line-height: 1;
    }

    .gv__bandh, .gv__bands {
        padding-left: 260px;
    }

}




