@import 'modules/_breakpoints';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_mq';
@import 'modules/_side-margins';

@import 'type';
@import 'pageadvancer';

figure.interactive {
	margin: 0;
}

.gv-photo-frame {
	width: 100%;
	height: 90vh;
	background-image: url(http://media.guim.co.uk/7575b16065c13516a52f9e671db8c93317a3bf40/0_0_5760_3456/2000.jpg);
	background-size: cover;
	background-position: center right;
}

.gv-wrapper {
	max-width: 1300px;
	margin: 0 auto;
}


.gv-header-container {
	background: #eee;
	height: 80vh;
	background-size: cover;
	background-position: center center;

	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	margin: 20px -10px;
    width: calc( 100% + 20px);

}

.gv-header-copy {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.4);
	padding: 10px;
}

.gv-right-center {
	background-position: right center;
}


@media(min-width:480px){
	.gv-header-container {
		height: 60vh; 
		margin: 20px -20px;
    	width: calc( 100% + 40px);
	}
}

@media(min-width:660px){
	.gv-header-container {
		height: 60vh; 
		margin: 20px 20px 0 -20px;
    	width: 660px;
	}
}

@media(min-width:740px){
	.gv-header-container {
	    margin: 20px 20px 0 -20px;
    	width: 740px;
    }
}

@media(min-width:980px){
	.gv-header-container {
		height: 640px;
		margin: 20px 0px 20px -20px;
    	width: 980px;
    	padding: 10px 20px;
	}
}

@media(min-width:1140px){
	.gv-header-container {
		height: 720px;
		margin: 20px 0px 20px -180px;
    	width: 1140px;
	}

	.gv-header-copy {
		padding-left: 180px;
	}
}

@media(min-width:1300px){
	.gv-header-container {
		margin: 20px 0px 20px -260px;
    	width: 1300px;
	}

	.gv-header-copy {
		padding-left: 260px;
		
	}
}

//furniture

.content--article .fig--narrow-caption.element--supporting figcaption {
	max-width: 100% !important;;
}

.hide-on-mobile {
	display: none !important;
}

@media(min-width:1140px){
	.ad-slot--inline {
		margin-right: -320px;
	}

	.component--rhc {
		display: none !important;
	}
}

@media(min-width:1300px){
	.ad-slot--inline {
		margin-right: -400px;
	}

}


//app
.prose blockquote {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}